# Compiled class file
*.class

# Log file
*.log

*.settings
*.classpath
*.project
*.idea
*.DS_Store

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
target/
logs/
test-output/

# Docker volumes and data
docker-data/
*.env.local

# IDE files
.vscode/
.trackify.jsonl